[user]
	name = Yoshiyuki Mineo
	email = yoshiyuki.mineo@gmail.com
[ghq]
	root = ~/dev/src
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
